<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body>

    {{>navbar}}

    <div class="max-width-1 m-auto">
        <hr>
    </div>

    <section class="home-about max-width-1 m-auto">
        <div class="about-home">
            <h1>Our Shoes Collection</h1>
            <div class="about-home-1">
                <div class="about-sub-home-1 side"></div>
                <div class="about-sub-home-2 middle side"></div>
                <div class="about-sub-home-3 side"></div>
            </div>
        </div>
    </section>

    <section class="about-shoes max-width-1 m-auto">
        <h1>The Real<span> Power</span> Of Our <span>ShoesWorld</span></h1>
    </section>

    <section class="about-client max-width-1 m-auto">
        <div class="client-1 client">
            <img src="./images/about-client-puma.jpg" alt="">
            <h3 class="client-head">Puma</h3>
        </div>

        <div class="client-2 client">
            <img src="./images/545360.jpg" alt="">
            <h3 class="client-head">Nike</h3>
        </div>

        <div class="client-3 client">
            <img src="./images/3624477.jpg" alt="">
            <h3 class="client-head">Adidas</h3>
        </div>
    </section>

    {{>footer}}

</body>

</html>