<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body>

    {{>navbar}}

    <div class="max-width-1 m-auto">
        <hr>
    </div>

    <section class="home-index max-width-1 m-auto">
        <div class="home-index-left">
            <h1>Welcome To Shoes World</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero repellendus quod facilis
                atque neque est molestias molestiae quasi sed cumque, placeat, similique, magnam ut iusto cum deleniti
                maxime dicta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorum quae culpa earum a totam
                dicta, repudiandae vero, non aperiam optio quia minima quis nam molestias magni quibusdam porro eveniet!
            </p>
        </div>

        <div class="home-index-right">
            <img src="./images/home-1.jpg" alt="home logo">
        </div>
    </section>

    <div class="max-width-1 m-auto">
        <hr>
    </div>

    <section class="home-shoes max-width-1 m-auto">

        <div class="section-1">
            <img src="./images/home-shoes-1.jpg" alt="shoes">
            <h3>Sports Shoes</h3>
        </div>
        <div class="section-1">
            <img src="./images/home-shoes-2.jpg" alt="shoes">
            <h3>Formal Shoes</h3>
        </div>
        <div class="section-1">
            <img src="./images/home-shoes-3.jpg" alt="shoes">
            <h3>Casual Shoes</h3>
        </div>
    </section>

    <div class="max-width-1 m-auto">
        <hr>
    </div>

    <section class="home-buy max-width-1 m-auto">
        <h1>Feature items</h1>
        <div class="home-buy-sub">
        <div class="section-2">
        
            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>20%</span></div>
                    <img src="./images/home-buy-1.jpg" alt="">
                </div>
                <div class="brand">puma mens shoes</div>
                <div class="price">&#8377;4999</div>
            </div>

            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>55%</span></div>
                    <img src="./images/home-buy-2.jpg" alt="">
                </div>
                <div class="brand">addidas mens shoes</div>
                <div class="price">&#8377;2999</div>
            </div>
    

        

            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>10%</span></div>
                    <img src="./images/home-buy-3.jpg" alt="">
                </div>
                <div class="brand">sneaker mens shoes</div>
                <div class="price">&#8377;1199</div>
            </div>

            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>35%</span></div>
                    <img src="./images/home-buy-4.jpg" alt="">
                </div>
                <div class="brand">woodland mens shoes</div>
                <div class="price">&#8377;2499</div>
            </div>
    
        </div>
        </div>
    </section>

    <section class="home-buy home-buy-1 max-width-1 m-auto">
        <div class="section-2">
            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>33%</span></div>
                    <img src="./images/home-buy-5.jpg" alt="">
                </div>
                <div class="brand">nike mens shoes</div>
                <div class="price">&#8377;3999</div>
            </div>

            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>59%</span></div>
                    <img src="./images/home-buy-6.jpg" alt="">
                </div>
                <div class="brand">campus mens shoes</div>
                <div class="price">&#8377;2199</div>
            </div>

            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>30%</span></div>
                    <img src="./images/home-buy-7.jpg" alt="">
                </div>
                <div class="brand">leather mens shoes</div>
                <div class="price">&#8377;1499</div>
            </div>

            <div class="sub-section-1">
                <div class="sub-section-2">
                    <div><span>65%</span></div>
                    <img src="./images/home-buy-8.jpg" alt="">
                </div>
                <div class="brand">rocky mens shoes</div>
                <div class="price">&#8377;1249</div>
            </div>
        </div>
    </section>

    <div class="max-width-1 m-auto">
        <hr>
    </div>

    <section class="pics max-width-1 m-auto">
        <div class="pics-left">
            <img src="./images/2.jpg" alt="">
        </div>

        <div class="pics-right">
            <div>
                <img src="./images/mensshoes.jpg" alt="">
            </div>
            <div>
                <img src="./images/mens-shoes.jpg" alt="">
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>